RewriteEngine On

#for app in subdirectory /quanly/
RewriteBase /quanly/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*quanly/.* /quanly/index.html [L]

#for app in subdirectory /doichoi/
RewriteBase /doichoi/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^.*doichoi/.* /doichoi/index.html [L]