<h3>Chiến dịch <button class="btn btn-primary float-right" (click)="addChienDich()">Thêm</button></h3>

<table class="table">
	<thead>
		<tr>
			<th>Tên</th>
			<th>Trạng thái</th>
			<th>Thao tác</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of chiendichList">
			<td><a routerLink="/chiendich/{{item.id}}">{{item.name}}</a></td>
			<td>
				<span *ngIf="item.is_open == 1" class="text-success">Mở</span>
				<span *ngIf="item.is_open != 1" class="text-danger">Đóng</span>
			</td>
			<td>
				<a href="#" (click)="updateChienDich(item)">Sửa</a>
			</td>
		</tr>
	</tbody>
</table>